streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-core
sentence-transformers
chromadb==0.4.24
pdfplumber
pymupdf
python-dotenv
protobuf==3.20.3