streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-core
sentence-transformers
chromadb==0.5.23
numpy==1.26.4
pdfplumber
pymupdf
python-dotenv