streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-core
sentence-transformers
faiss-cpu
numpy==1.26.4
pdfplumber
pymupdf
python-dotenv
 














